body {
    background-color: lightgoldenrodyellow;
}

a {
    text-decoration: underline;
    color: black;
}

h1 {
    color: purple;
    text-align: center;
    font-family: verdana;
    font-size: 40px;
}

.center {
    margin: 0 auto;
    width: 70%;
}

.centerSmall {
    margin: 0 auto;
    width: 40%;
}

span.return {
    margin-left: 15%;
    font-family: calibri;
    padding-top: 25px;
}

th, td {
    padding: 15px;
    text-align: left;
    font-family: Arial;
}

tr:nth-child(odd) {
    background-color: deepskyblue;
}

tr:nth-child(even) {
    background-color: lightskyblue;
}

tr:nth-child(odd):hover {
    background-color: lightblue;
}

tr:nth-child(even):hover {
    background-color: lightblue;
}

input {
    margin-left: 15%;
}