body {
    background-color: lightgoldenrodyellow;
}

h1 {
    color: purple;
    text-align: center;
    font-family: verdana;
    font-size: 40px;
}

.center {
    margin: 0 auto;
    width: 70%;
}

p.center {
    color: blue;
    font-family: calibri;
    margin-left: 5%;
}

span.return {
    margin-left: 15%;
    font-family: calibri;
    padding-top: 25px;
}

table.center {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

th, td {
    padding: 15px;
    text-align: left;
    font-family: Arial;
}

tr:nth-child(odd) {
    background-color: deepskyblue;
}

tr:nth-child(even) {
    background-color: lightskyblue;
}

input {
    margin-left: 15%;
}