<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Alle regisseurs</title>
</head>
<body>
    <div th:replace="fragments/general :: navbar"></div>


    <h1>Regisseurs</h1>

    <a th:href="@{/directors/new}"><button type="button" class="btn btn-primary" >Nieuwe regisseur</button></a>
    <table class="center">
        <tr>
            <th>Naam
                <a th:href="@{/directors/all(sortBy ='lastNameAsc')}"><i class="fas fa-sort-up"></i></a>
                <a th:href="@{/directors/all(sortBy ='lastNameDesc')}"><i class="fas fa-sort-down"></i></a>
            </th>
            <th>Land
                <a th:href="@{/directors/all(sortBy ='countryAsc')}"><i class="fas fa-sort-up"></i></a>
                <a th:href="@{/directors/all(sortBy ='countryDesc')}"><i class="fas fa-sort-down"></i></a>
            </th>
            <th>Aantal films</th>
        </tr>
        <tr th:each="director : ${allDirectors}">
            <td><a th:href="@{/directors/details/{directorId}(directorId=${director.directorId})}" th:text="${director.displayName}"></a></td>
            <td th:text="${director.country}"></td>
            <td th:text="${director.films.size()}"></td>
        </tr>
    </table>

    <div th:replace="fragments/general :: footer"></div>

    <div th:replace="fragments/general :: bottomScripts"></div>


</body>
</html>