<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>

<table class="center">
    <tr>
        <th>Voornaam</th>
        <th>Land</th>
        <th>Aantal films</th>
    </tr>
    <tr th:each="director : ${allDirectors}">
        <td><a th:href="@{/directors/details/{directorId}(directorId=${director.directorId})}" th:text="${director.displayName}"></a></td>
        <td th:text="${director.country}"></td>
        <td></td>
    </tr>
</table>

<div th:replace="fragments/general :: footer"></div>

<div th:replace="fragments/general :: bottomScripts"></div>


</body>
</html>