<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Nieuwe regisseur</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>

    <h1>Nieuwe student</h1>

<form class="center" th:action="@{/directors/new}" method="post" th:object="${director}">
    <div class="form-group">
        <input type="hidden" th:field="*{directorId}">

        <div class="form-group">
            <label th:for = "firstName" class="form-label"></label>
            <input id="firstName" type ="text" class="form-control" th:placeholder="Voornaam" th:field="*{firstName}">
        </div>
        <div>
            <label th:for = "infixName"></label>
            <input id="infixName" type ="text" class="form-control" th:placeholder="Tussenvoegsel" th:field="*{infixName}">
        </div>
        <div>
            <label th:for = "lastName"></label>
            <input id="lastName" type ="text" class="form-control" th:placeholder="Achternaam" th:field="*{lastName}">
        </div>
        <div>
            <label th:for = "country"></label>
            <input id="country" type ="text" class="form-control" th:placeholder="Land" th:field="*{country}">
        </div>
        <div>
            <label th:for = "birthYear"></label>
            <input id="yearOfBirth" type ="text" class="form-control" th:placeholder="Geboortejaar" th:field="*{dateOfBirth}">
        </div>
        <div class="form-group">
            <label th:for = "films" class="form-label"></label>
            <select id="films" class="form-control" th:field="*{films}" multiple>
                <option th:each="film : ${allFilms}" th:value="${film.filmId}" th:text="${film.title}"></option>
            </select>
        </div>
        <div class="form-group padding-button-top">
            <button type="submit" class="btn btn-primary">Sla op</button>
        </div>
    </div>
</form>

<div th:replace="fragments/general :: footer"></div>

<div th:replace="fragments/general :: bottomScripts"></div>


</body>
</html>