<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Voeg een nieuwe film toe</title>
    <link rel="stylesheet" type="text/css" href="/css/films.css"/>
</head>
<body>

<h1>Maak een nieuwe film</h1>

<form th:action="@{/films/new}" method="post" th:object="${film}">
  <input type="hidden" th:field="*{filmId}">
  <table class="center">
    <tr>
      <td>Titel</td>
      <td><input type="text" th:field="*{title}"></td>
    </tr>
    <tr>
      <td>Regisseur</td>
      <td><input type="text" th:field="*{director}"></td>
    </tr>
  </table>
  <input type="submit" value="Sla boek op">
</form>

</body>
</html>