<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Films</title>
</head>
<body>
    <div th:replace="fragments/general :: navbar"></div>
    <h1>Films</h1>
    <a th:href="@{/films/new}"><button type="button" class="btn btn-primary" >Nieuwe film</button></a>
    <table class="center">
        <tr>
            <th>Titel
                <a th:href="@{/films/all(sortBy ='titleAsc')}"><i class="fas fa-sort-up"></i></a>
                <a th:href="@{/films/all(sortBy ='titleDesc')}"><i class="fas fa-sort-down"></i></a>
            </th>
            <th>Releasejaar
                <a th:href="@{/films/all(sortBy ='releaseYearAsc')}"><i class="fas fa-sort-up"></i></a>
                <a th:href="@{/films/all(sortBy ='releaseYearDesc')}"><i class="fas fa-sort-down"></i></a>
            </th>
            <th>Regisseur(s)</th>
            <th>Aantal Versies</th>
        </tr>
        <tr th:each="film : ${allFilms}">
            <td><a th:class="title" th:href="@{/films/details/{filmId}(filmId=${film.filmId})}" th:text="${film.displayTitle}"></a></td>
            <td th:text="${film.releaseYear}"></td>
            <td th:utext="${film.allDirectorsToString()}"></td>
            <td th:text="${film.discs.size()}"></td>
        </tr>
    </table>

    <div th:replace="fragments/general :: footer"></div>

    <div th:replace="fragments/general :: bottomScripts"></div>


</body>
</html>