<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title th:text="${filmToShow.title}"></title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>

<h1 th:text="${filmToShow.title}"></h1>

<table th:class="center">
    <tr>
        <th>Titel</th>
        <td th:text="${filmToShow.title}"></td>
    </tr>
    <tr>
        <th>Releasejaar</th>
        <td th:text="${filmToShow.releaseYear}"></td>
    </tr>
    <tr th:each="director : ${directorsOfFilm}">
        <th>Naam</th>
        <td><a th:href="@{/directors/details/{directorId}(directorId=${director.directorId})}"><span th:text="${director.displayName}"></span> </a> </td>
    </tr>
</table>

<h1>Uitgaves in collectie</h1>

<table th:class="centerSmall">
    <tr th:each="disc : ${filmToShow.discs}">
        <td th:text="${disc.returnFormat()}"></td>
        <td th:utext="${disc.toString}"></td>
    </tr>
</table>
<div th:replace="fragments/general :: footer"></div>

<div th:replace="fragments/general :: bottomScripts"></div>


</body>
</html>