<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Nieuwe film</title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>

<div class="container">
    <h1>Maak nieuwe film</h1>

    <form th:action="@{/films/new}" method="post" th:object="${film}">
        <input type="hidden" th:field="*{filmId}">

        <div class="form-group">
            <label for="title" class="form-label">Titel</label>
            <input id="title" type="text" class="form-control" th:field="*{title}">
        </div>
        <div>
            <label th:for = "releaseyear"></label>
            <input id="releaseYear" type ="text" class="form-control" th:placeholder="Jaar" th:field="*{releaseYear}">
        </div>
        <div class="form-group">
            <label for="directors" class="form-label">Regisseur(s)</label>
            <select id="directors" class="form-control" th:field="*{directors}" multiple>
                <option th:each="director : ${allDirectors}" th:value="${director.directorId}" th:text="${director.displayName}"></option>
            </select>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Sla film op</button>
        </div>
    </form>
</div>

<div th:replace="fragments/general :: footer"></div>

<div th:replace="fragments/general :: bottomScripts"></div>


</body>
</html>