<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Films</title>
</head>
<body>
    <div th:replace="fragments/general :: navbar"></div>
    <h1>Films</h1>
    <table class="center">
        <tr>
            <th>Titel</th>
            <th>Releasejaar</th>
            <th>Regisseur(s)</th>
        </tr>
        <tr th:each="film : ${allFilms}">
            <td><a th:href="@{/films/details/{filmId}(filmId=${film.filmId})}" th:text="${film.title}"></a></td>
            <td th:text="${film.releaseYear}"></td>
            <td th:utext="${film.allDirectorsToString()}"></td>
        </tr>
    </table>

    <div th:replace="fragments/general :: footer"></div>

    <div th:replace="fragments/general :: bottomScripts"></div>


</body>
</html>