<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overzicht van alle films</title>
    <link rel="stylesheet" type="text/css" href="/css/films.css"/>
</head>
<body>
    <h1>Overzicht van alle films</h1>
    <table class="center">
        <tr>
            <th>Titel</th>
            <th>Regisseur</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="film : ${allFilms}">
            <td th:text="${film.title}"></td>
            <td th:text="${film.director}"></td>
            <td><a th:href="@{/films/delete/{filmId}(filmId=${film.filmId})}">Delete</a></td>
            <td><a th:href="@{/films/edit/{filmId}(filmId=${film.filmId})}">Edit</a></td>
        </tr>
    </table>

    <a th:href="@{/films/new}">Maak een nieuwe film</a>
</body>
</html>